.container {
  display: flex;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

.hideTrashIcon {
  display: none;
}

/*
 * Register and Login Page Styling
 */
.register__background, 
.login__background {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.register__background {
  background-image: linear-gradient(to bottom, #4d4e9d81, #bf4d7581), url('./../../public/cinema-watching.png');
}

.login__background {
  background-image: linear-gradient(to bottom, #4d4e9d81, #bf4d7581), url('./../../public/cinema.png');
}

.register__background-container, 
.login__background-container {
  padding: 4rem;
}

.register__background-container p:first-child, 
.login__background-container p:first-child {
  padding-bottom: 5rem;
}

.register__background-heading, 
.register__background-text,
.login__background-heading,
.login__background-text {
  color: var(--color-light-grey);
}

.register__background-heading,
.login__background-heading {
  font-size: 2rem;
  font-weight: bold;
}

.register__background-text,
.login__background-text {
  font-size: 1.7rem;
}

#login-password{
  margin-right: 1rem;
}

/*
 * Button styling
 */
button {
  text-decoration: none;
  border: none;
}

button.standard, input[type=text], input[type=password], input[type=email] {
  width: 25rem;
}

button.standard, button.post__button {
  background: var(--color-blue);
  color: var(--color-light-grey);
}

button.standard {
  height: 3.5rem;
  border-radius: 1.2rem;
  margin-bottom: 10%;
}

button.post__button {
  font-size: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 10rem;
}

#post {
  margin-bottom: 0%;
  width: 6rem;
}

button.back {
  font-size: 1.2rem;
  font-weight: normal;
  border: none;
  background: none;
  color: var(--color-dark-grey);
  margin: 1.2rem 1.2rem 1.2rem 0;
  padding-left: 0;
}

#invisible-back {
  color:#fff;
}

#resend-button {
  background: var(--color-magenta);
}

input[type=text], input[type=password], input[type=email], .search__timeline, textarea.post__text, .comment-box__text {
  text-decoration: none;
  border: none;
  background-color: var(--color-grey);
}

input[type=text], input[type=password], input[type=email] {
  border-radius: 1.2rem;
  padding: 1rem;
  margin-top: 10px;
}

input.otpEntry {
  width:2rem;
  margin-right: 0.6rem;
  padding: 0.6rem;
}

p.link, label.link, span.link {
  color: var(--color-blue);
}

h1.formHeading {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#verifyHeading{
  margin-bottom: 0%;
}

form {
  text-align: center;
}

label {
  text-align: left;
}

label.form__label-centred {
  text-align: center;
}

input.searchBar, .search__timeline.searchBar {
  background: var(--color-grey) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

input.searchBar {
  text-indent: 1.4rem;
}

.search__timeline, .comment-box__text {
  border-radius: 1.5rem !important;
  padding: 0.6rem !important;
  margin-top: 0 !important;
  width: 100% !important;
}

.search__timeline.searchBar {
  text-indent: 1.7rem;
}

.comment-box__container {
  position: relative;
}

.comment-box__container i {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
}

.comment-box__text {
  text-indent: 0.5rem;
  padding-right: 3.5rem !important;
}

.movie-container {
  /* *Change this margin later */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 27%;
  padding: 1.2rem;
  border-radius: 1.2rem;
  max-width: 25rem;
  max-height: 44rem;
  background-color: var(--color-light-grey);
}

.post-container {
  max-width: 100%;
}

.cinematica__content {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

.cinematica__header-upper, 
.post__controls, 
.post__details, 
.post__author-container, 
.post-stats,
.follow-list__item,
.follow-list__item-user,
.movie__details-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline__tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey-2);
  padding: 0.5rem;
  font-weight: bold;
  color: var(--color-grey-3);
  border-radius: 0.7rem;
}

.sticky {
  position: sticky;
  top: 4.7rem;
  z-index: 100;
}

.cinematica__header-upper div {
  display: flex;
  align-items: center;
}

.cinematica__header-upper div > * {
  margin-left: 0.8rem;
}

.post__controls {
  margin-top: 0.6rem;
}

.post__controls div:first-child > * {
  margin-left: 0.8rem;
}

.post__author-container div:last-child,
.follow-list__item-user div:last-child,
.movie__cast-member-container div:last-child {
  margin-left: 0.7rem;
}

.cinematica__profile-circle {
  /* Tempoarily use grey colour as profile picture */
  display: inline-block;
  background-color: var(--color-dark-grey);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; /* Clip the image to the circular shape */
}

.cinematica__profile-circle img {
  width: 100%;
  height: 100%;
  margin-left: 0rem;
  object-fit: cover; /* Scale and crop the image to cover the container */
}

.cinematica__guest-view-button {
  background-color: var(--color-magenta);
  color: var(--color-light-grey);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 10rem;
}

header {
  position: sticky;
  top: 0;
  padding-bottom: 1rem;
  background-color: white;
  z-index: 99;
}

textarea.post__text {
  width: 100%;
  resize: none;
  border-radius: 0.8rem;
  padding: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.post {
  position: relative;
  background-color: var(--color-light-grey);
  padding: 1.2rem;
  max-width: 100%;
  margin-top: 1.3rem;
}

.post__delete-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--color-grey);
  color: var(--color-magenta);
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
}

.tag__delete-icon {
  position: absolute;
  background-color: var(--color-grey);
  color: var(--color-magenta);
  padding: 0.1rem 0.25rem;
  border-radius: 50%;
}

.profile__container, .post, .movie__banner {
  border-radius: 1.2rem;
}

.profile__container {
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
}

.profile__background {
  position: relative;
  height: 10rem;
  overflow: hidden;
}

.profile__background img {
  width: 100%;
  top: -9999px;
  left: -9999px;
  bottom: -9999px;
  right: -9999px;
  opacity: 0.5;
  margin: auto;
  position: absolute;
}

.profile__background__edit {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.profile__name-photo-container {
  position: absolute;
  bottom: 6rem;
}

.profile__name-photo-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile__picture {
  display: inline-block;
  background-color: var(--color-dark-grey);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__picture img {
  width: 100%;
  height: 100%; 
  object-fit: cover; /* Scale and crop the image to cover the container */
}

.profile__username-container {
  position: absolute;
  margin-top: 10px;
}

.profile__username {
  position: absolute;
  padding-left: 140px;
  display: inline-block;
  font-size: 1.4rem;
  bottom: 0;
}

.profile__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-grey);
  padding: 3rem 1rem 0 1rem;
}

.profile__follow-stats > * {
  display: inline-block;
  margin-right: 1rem;
}

.profile__follow-button, .profile__follow-button--followed,
.movie__subscribe-button, .movie__subscribe-button--followed {
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 10rem;
}

.movie__subscribe-button, .movie__subscribe-button--followed {
  display: inline-block;
  margin-bottom: 1rem;
}

.profile__follow-button,
.movie__subscribe-button {
  background-color: var(--color-magenta);
  color: var(--color-light-grey);
}

.profile__follow-button--followed,
.movie__subscribe-button--followed {
  background-color: var(--color-grey-4);
  color: var(--color-light-grey);
}

.profile__tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey-2);
  font-weight: bold;
  color: var(--color-grey-3);
}

.profile__tabs div {
  padding: 0.7rem 2rem;
  width: auto;
  cursor: pointer;
}

.follow-list__header {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.image-preview-container {
  position: relative;
}

.image-preview {
  max-width: 100%;
}

.image-trash-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--color-grey);
  color: var(--color-red);
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  margin-top: 2rem;
}

.movie__heading-container {
  position: relative;
}

.movie__heading-container div:last-child {
  position: static;
}

.movie__heading-container .profile__tabs {
  border-radius: 0.7rem;
}

.movie__banner {
  position: relative;
  height: 10rem;
  overflow: hidden;
}

.movie__banner img {
  height: 250%;
  top: -9999px;
  left: -9999px;
  bottom: -9999px;
  right: -9999px;
  opacity: 0.5;
  margin: auto;
  position: absolute;
}

.movie__poster img {
  position: absolute;
  height: 12rem;
  top: 5rem;
  right: 2.5rem;
}

.movie__main-details {
  margin-right: 30%;
}

.movie__main-details p:first-child {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0;
}

.movie__main-details p:nth-child(2) {
  font-size: 1.15rem;
  margin-top: 0.3rem;
}

.movie__cast-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.movie__cast-member-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.movie__cast-member-container .post-author > span {
  font-weight: 600;
}

.movie__tabs {
  margin-bottom: 2rem;
}

.movie__details-item-container p {
  margin: 0.5rem 0;
}

.movie__details-item-container p:first-child {
  font-weight: 600;
}

.movie__details-item-container p:last-child {
  margin-left: 0.5rem;
  text-align: right;
}

.search-results {
  position: absolute;
  text-align: left;
  background-color: var(--color-light-grey);
  padding: 0.5rem 1.2rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  visibility: hidden;
  filter: drop-shadow(5px 5px 6px #00000035);
  z-index: 101;
}

.post-movie-search {
  text-align: left;
}

.post-movie {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post-movie > span {
  padding-right: 1rem;
}

.post-likes {
  color: var(--color-magenta);
}

.tab--clicked {
  color: var(--color-blue);
}

.form {
  padding-bottom: 2rem;
}

.TMDB-logo {
  height: 10px; /* Adjust this height as needed */
  width: auto;
}

@media screen and (max-width: 768px) {
  .left-column {
    display: none;
  }

 .right-column {
    width: 100%;
 } 
}