.container {
  display: flex;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

.hideTrashIcon {
  display: none;
}

/*
 * Register and Login Page Styling
 */
.register__background, 
.login__background {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.register__background {
  background-image: linear-gradient(to bottom, #4d4e9d81, #bf4d7581), url('./../../public/cinema-watching.png');
}

.login__background {
  background-image: linear-gradient(to bottom, #4d4e9d81, #bf4d7581), url('./../../public/cinema.png');
}

.register__background-container, 
.login__background-container {
  padding: 4rem;
}

.register__background-container p:first-child, 
.login__background-container p:first-child {
  padding-bottom: 5rem;
}

.register__background-heading, 
.register__background-text,
.login__background-heading,
.login__background-text {
  color: var(--color-light-grey);
}

.register__background-heading,
.login__background-heading {
  font-size: 2rem;
  font-weight: bold;
}

.register__background-text,
.login__background-text {
  font-size: 1.7rem;
}

#login-password{
  margin-right: 1rem;
}

/*
 * Button styling
 */
button {
  text-decoration: none;
  border: none;
}

button.standard, input[type=text], input[type=password], input[type=email] {
  width: 25rem;
}

button.standard, button.post__button {
  background: var(--color-blue);
  color: var(--color-light-grey);
}

button.standard {
  height: 3.5rem;
  border-radius: 1.2rem;
  margin-bottom: 10%;
}

button.post__button {
  padding: 0.4rem 1.5rem;
  border-radius: 10rem;
}

#post {
  margin-bottom: 0%;
  width: 6rem;
}

button.back {
  font-size: 1.2rem;
  font-weight: normal;
  border: none;
  background: none;
  color: var(--color-dark-grey);
  margin: 1.2rem;
}

#invisible-back {
  color:#fff;
}

#resend-button {
  background: var(--color-magenta);
}

input[type=text], input[type=password], input[type=email], .search__timeline, textarea.post__text, .comment-box__text {
  text-decoration: none;
  border: none;
  background-color: var(--color-grey);
}

input[type=text], input[type=password], input[type=email] {
  border-radius: 1.2rem;
  padding: 1rem;
  margin-top: 10px;
}

input.otpEntry {
  width:0.6rem;
  margin-right: 0.6rem;
}

p.link, label.link, span.link {
  color: var(--color-blue);
}

h1.formHeading {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#verifyHeading{
  margin-bottom: 0%;
}

form {
  text-align: center;
}

label {
  text-align: left;
}

label.form__label-centred {
  text-align: center;
}

input.searchBar, .search__timeline.searchBar {
  background: var(--color-grey) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

input.searchBar {
  text-indent: 1.4rem;
}

.search__timeline, .comment-box__text {
  border-radius: 1.5rem !important;
  padding: 0.6rem !important;
  margin-top: 0 !important;
  width: 100% !important;
}

.search__timeline.searchBar {
  text-indent: 1.7rem;
}

.comment-box__container {
  position: relative;
}

.comment-box__container i {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
}

.comment-box__text {
  text-indent: 0.5rem;
  padding-right: 3.5rem !important;
}

.movie-container {
  /* *Change this margin later */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 27%;
  padding: 1.2rem;
  border-radius: 1.2rem;
  max-width: 25rem;
  max-height: 44rem;
  background-color: var(--color-light-grey);
}

.post-container {
  max-width: 100%;
}

.cinematica__content {
  max-width: 600px;
  margin: auto;
}

.cinematica__header-upper, 
.post__controls, 
.post__details, 
.post__author-container, 
.post-stats,
.follow-list__item,
.follow-list__item-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline__tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey-2);
  padding: 0.5rem;
  font-weight: bold;
  color: var(--color-grey-3);
  border-radius: 0.7rem;
}

.cinematica__header-upper div {
  display: flex;
  align-items: center;
}

.cinematica__header-upper div > * {
  margin-left: 0.8rem;
}

.post__controls {
  margin-top: 0.3rem;
}

.post__controls div:first-child > * {
  margin-left: 0.8rem;
}

.post__author-container div:last-child,
.follow-list__item-user div:last-child {
  margin-left: 0.7rem;
}

.cinematica__profile-circle {
  /* Tempoarily use grey colour as profile picture */
  display: inline-block;
  background-color: var(--color-dark-grey);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cinematica__guest-view-button {
  background-color: var(--color-magenta);
  color: var(--color-light-grey);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 10rem;
}

header {
  position: sticky;
  top: 0;
  padding-bottom: 1rem;
  background-color: white;
  z-index: 99;
}

textarea.post__text {
  width: 100%;
  resize: none;
  border-radius: 0.8rem;
  padding: 0.8rem;
  margin-top: 20px;
}

.mock-post {
  position: relative;
  background-color: var(--color-light-grey);
  padding: 1.2rem;
  max-width: 100%;
  margin-top: 1.3rem;
}

.post__delete-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--color-grey);
  color: var(--color-red);
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
}

.post-image {
  max-width: 100%;
}

.profile__container, .mock-post {
  border-radius: 1.2rem;
}

.profile__container {
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
}

.profile__background {
  position: relative;
  background-color: var(--color-grey-2);
  height: 10rem;
}

.profile__background i {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}

.profile__name-photo-container {
  position: absolute;
  bottom: 5rem;
}

.profile__name-photo-container, .profile__follow-stats {
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile__picture {
  display: inline-block;
  background-color: var(--color-dark-grey);
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.profile__username {
  display: inline-block;
  font-size: 1.4rem;
}

.profile__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-grey);
  padding: 3rem 1rem 0 1rem;
}

.profile__follow-stats > * {
  display: inline-block;
  margin-right: 1rem;
}

.profile__follow-button, .profile__follow-button--followed {
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 10rem;
}

.profile__follow-button {
  background-color: var(--color-magenta);
  color: var(--color-light-grey);
}

.profile__follow-button--followed {
  background-color: var(--color-grey-4);
  color: var(--color-light-grey);
}

.profile__tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey-2);
  padding: 0.7rem;
  font-weight: bold;
  color: var(--color-grey-3);
}

.follow-list__header {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.follow-list__item-user {

}